@import "@/style/var";
.filesItem {
  margin-bottom: 24px;
  .uploadBtn {
    width: 220px;
    height: 220px;
    display: flex;
    border: 1px @break-color5 dashed;
    border-radius: 12px;
    color: @break-color5;
    text-align: center;
    .uploadText {
      font-size: 16px;
      margin-bottom: 24px;
      color: @break-color4;
    }
    .uploadBtnContent {
      margin: auto;
      padding: 0 8px;
      font-size: 12px;
      :global(.iconfont) {
        font-size: 34px;
      }
    }
  }
}
