.consultRecord {
  display: flex;
  .consultRecordList {
    flex:  0 1 420px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
  }
  .consultRecordDetail {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    border-radius: 4px;
    padding: 20px;
  }
}
