@import "@/style/var.less";
.userInfo {
  padding: 8px;
  display: flex;
  border: 1px solid @border-color;
  border-radius: 8px;
  .baseInfo {
    flex: 0 230px;
    display: flex;
    .box {
      width: 100%;
      margin: auto;
      text-align: left;
      padding: 8px;
      position: relative;
      background-color: #F3F8FB;
      border-radius: 8px;
      .avatar {
        display: inline-block;
        vertical-align: top;
        img {
          border-radius: 4px;
          overflow: hidden;
          width: 60px;
          height: 60px;
        }
      }
      .infoBody {
        width: 114px;
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
        .name {
          font-size: 18px;
          font-weight: 500;
          white-space: nowrap;
        }
        .who {
          font-size: 12px;
          color: #cccccc;
        }
        .phone {
          font-size: 14px;
        }
        .status {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: @success-color;
          color: #fff;
          padding: 2px 8px;
          font-size: 12px;
          border-radius: 10px;
        }
      }
    }
  }
  .moreInfo {
    flex: 1;
    padding: 8px;
  }
}
