.editor {
  position: relative;
  height: 100%;
  :global(.ant-collapse-header) {
    padding: 5px 5px!important;
    background-color: #eee!important;
    border-radius: 0!important;
    font-size: 13px!important;
    :global(span.ant-collapse-arrow) {
      margin-right: 2px!important;
      font-weight: 400;
      transform: scale(0.85);
    }
  }
  :global(.dn-main-panel-header) {
    border-bottom: none;
    padding: 10px;
    margin-bottom: 8px;
  }
  :global(.dn-workspace-panel) {
    background-color: #fff;
  }
  :global(.dn-settings-panel) {
    margin-left: 8px;
    border-left: none;
  }
  :global(.dn-composite-panel) {
    margin-right: 8px;
  }
  :global(.dn-main-panel-container.root) {
    position: absolute!important;
  }
  .ioComponents {
    :global(.dn-resource-content) {
      grid-template-columns: repeat(2, 50%)
    }
    :global(.dn-resource-item) {
      padding: 15px 6px;
      :global(.dn-resource-item-text) {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
