.article-insert {
  padding: 16px 16px 60px 16px;
  overflow: hidden;
  background-color: #fff;

  .insert-title {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 16px;
    margin-bottom: 24px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 16px;
      background: #217BA0;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  :global {
    .bf-controlbar {
      border: 1px solid #E3E3E3;
      border-radius: 4px 4px 0 0;
      box-shadow: none;
    }

    .bf-content {
      // height: 382px;
      border: 1px solid #E3E3E3;
      border-top: 0;
      border-radius: 0 0 4px 4px;

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .02);
        background-color: #555;
      }
    }
  }
}

.insert-img {
  color: #6a6f7b;
}