.projectList {
  font-family: SourceHanSansCN-Normal;
  line-height: 48px;
  font-size: 16px;
  background-color: #F3F8FB;
  padding: 0 12px;
  span:first-child {
    margin-right: 40px;
  }
  .action {
    float: right;
  }
  &:nth-child(2n) {
    background: #FBFCFE;
  }
}
