:global(.layout.ant-layout .ant-layout-content .content .body) {
  padding: 0px;
}
.homeBody {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .homeBodyContent {
    flex: 1;
    :global(.content-page) {
      height: 100%;
    }
  }
}
