@import '@/style/var';
.loginTypeTabs {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  .tabItem {
    flex: 1;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
  .active {
    position: relative;
    color: @primary-color;
    font-size: 24px;
    &:after {
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 94px;
      height: 2px;
      background-color: @primary-color;
      content: '';
    }
  }
}
