@import "@/style/var";
.pageHeader {
  background-color: #fff;
  padding: 12px 16px;
  margin: -12px -12px 12px -12px;
  .title {
    margin-top: 3px;
    font-size: 20px;
    color: @break-color2;
  }
}
