@import "@/style/var";
.addFormulaModal {
  .vars {
    border: 1px solid @break-color5;
    margin-top: 20px;
    >div:first-child {
      padding: 6px 12px;
      border-bottom: 1px solid @break-color5;
    }
    .body {
      height: 250px;
      overflow: auto;
      .item {
        padding: 0px 12px;
        line-height: 34px;
        cursor: pointer;
        width: 330px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
