@import "@/style/var";
.planMapEditor {
  display: flex;
  height: calc(100vh - 160px);
  * {
    user-select: none;
  }
  .selector {
    flex: 0 0 200px;
    padding: 10px;
    margin-right: 8px;
    background-color: #fff;
  }
  .editorBody {
    flex: 1;
    background-color: #fff;
    overflow: auto;
    .bodyHeader {
      padding: 10px;
      .colorRed {
        color: @error-color;
      }
      :global(.ant-badge) {
        margin-right: 20px;
        :global(.ant-badge-status-dot) {
          width: 10px;
          height: 10px;
        }
      }
      .scale {
        float: right;
        :global(.ant-btn) {
          border-radius: 0;
          &:hover {
            z-index: 12;
          }
        }
        :global(.ant-input-number) {
          border-radius: 0;
          margin: 0 -1px;
          position: relative;
          z-index: 10;
        }
      }
    }
    .canvasBox {
      padding-top: 20px;
      width: 100%;
      height: calc(100vh - 245px);
      overflow: auto;
    }
  }
  .config {
    flex: 0 0 260px;
    background-color: #fff;
    margin-left: 8px;
  }
}
