.planMapEditor {
  display: flex;
  height: calc(100vh - 80px);
  border: 1px silver solid;
  .selector {
    flex: 0 0 160px;
    padding: 10px;
    border-right: 1px silver solid;
  }
  .editorBody {
    flex: 1;
    background-color: #EFFAFF;
    padding: 10px;
    overflow: auto;
    .bodyHeader {
      padding-bottom: 35px;
      :global(.ant-badge) {
        margin-right: 20px;
        :global(.ant-badge-status-dot) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .config {
    flex: 0 0 320px;
    padding: 0 10px;
    border-left: 1px silver solid;
  }
}
