@import "@/style/var";
.planMapItem {
  //border-top: 2px solid #46a0c0;
  position: relative;
  flex: 0 0 240px;
  padding: 10px 10px 30px 10px;
  flex-wrap: wrap;
  &:after {
    content: ' ';
    height: 2px;
    width: 100%;
    background-color: #46a0c0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  &:last-child {
    &:after {
      width: 10%;
    }
  }
  .index {
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #46a0c0;
  }
  .header {
    padding-top: 6px;
    font-size: 16px;
    :global(.iconfont) {
      margin-left: 4px;
      color: @error-color;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .body {
    background-color: #46a0c0;
    padding: 4px;
    border-radius: 6px;
    .title {
      padding: 5px 0;
      color: #FFFFFF;
    }
    .infos {
      min-height: 120px;
      background-color: #fff;
      border-radius: 4px;
      padding: 6px;
      .selectItem {
        cursor: pointer;
      }
    }
  }
}
.planMapItemHasChildren {
  .borderDom {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: #46a0c0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
