@import "@/style/var";
.planMapItem {
  border-top: 2px solid #46a0c0;
  position: relative;
  flex: 0 0 240px;
  padding: 10px 10px 30px 10px;
  flex-wrap: wrap;
  .index {
    position: absolute;
    top: -18px;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #46a0c0;
  }
  h3 {
    padding-top: 6px;
    font-size: 16px;
  }
  .body {
    background-color: #46a0c0;
    padding: 4px;
    border-radius: 6px;
    .title {
      padding: 5px 0;
      color: #FFFFFF;
    }
    .infos {
      min-height: 120px;
      background-color: #fff;
      border-radius: 4px;
      padding: 6px;
      .selectItem {
        cursor: pointer;
      }
    }
  }
}
.planMapItemHasChildren {
  border-left: 2px solid #46a0c0;
}
