@import '@/style/var';
.password {
  .title {
    margin-bottom: 45px;
    color: @break-color3;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }
  .left {
    background-image: url('../../../assets/images/user/resetPassword.png') !important;
    .logo {
      margin-top: 100px!important;
    }
  }
  :global(.ant-steps-item, .ant-steps-item-content) {
    width: 120px !important;
  }
  :global(.ant-steps-item-icon) {
    margin-left: 55px !important;
  }
  :global(.ant-steps-item-tail) {
    margin: 0 0 0 57px !important;
  }
  .footer {
    margin-top: 32px;
    color: @primary-color;
    font-size: 16px;
    text-align: center;
    a {
      margin: 0 12px;
    }
  }
}
